:root {
  --main-text-color: #666666;
  --dark-text-color: #000000;
  --light-text-color: #ffffff;
  --link-color: #1698d9;

  --light-bkg: #ffffff;

  --minor-color: #1698d9;
  --minor-color_hover: #2ea8e6;

  --selected-color: #d91667;
  --selected-color_hover: #e62e7a;

  --disabled-color: #b3b3b3;
  --disabled-alert-color: #ffff66;

  --header-font: Exo, system-ui;
  --main-font: Trebuchet MS, system-ui;

  --font-size: 1.6rem;

  --transition: all 0.5s;

  @custom-selector :--enter :hover, :focus;
}
